<a href="{{ admin.generateObjectUrl('clone', object) }}" class="btn btn-sm btn-primary clone_link" title="{{ 'action_clone'|trans({}, 'SonataAdminBundle') }}">
    <i class="fa fa-times" aria-hidden="true"></i>
    Dupliquer
</a>
